.logo-bg {
  background-image: url('/assets/image/vetlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem auto;
}