<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body centralizar">
          <form #formulario="ngForm" (ngSubmit)="save()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <mdb-form-control>
                  <input required [(ngModel)]="vacina.nome" mdbInput type="text" name="nome" class="form-control form-control-sm" maxlength="100" />
                  <label mdbLabel class="form-label">Nome da Vacina *</label>
                </mdb-form-control>
              </div>
              <div class="col-md-6 mb-3">
                <mdb-form-control>
                  <input required [(ngModel)]="vacina.lote" mdbInput type="text" name="lote" class="form-control form-control-sm" maxlength="50" />
                  <label mdbLabel class="form-label">Lote *</label>
                </mdb-form-control>
              </div>
              <div class="col-md-6 mb-3">
                <mdb-form-control>
                  <input required [(ngModel)]="vacina.dataValidade" mdbInput type="date" name="dataValidade" class="form-control form-control-sm" />
                  <label mdbLabel class="form-label">Data de Validade *</label>
                </mdb-form-control>
              </div>
              <div class="col-12 mb-3">
                <mdb-form-control>
                  <textarea [(ngModel)]="vacina.observacoes" mdbInput name="observacoes" class="form-control form-control-sm" maxlength="255"></textarea>
                  <label mdbLabel class="form-label">Observações</label>
                </mdb-form-control>
              </div>
            </div>
            <div class="mt-4">
              @if(vacina.id > 0){
                <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded btn-sm">
                  <i class="fas fa-save fa-sm"></i> Atualizar
                </button>
              }@else {
                <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded btn-sm">
                  <i class="fas fa-save fa-sm"></i> Salvar
                </button>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
